body {
    background-color: black;
}

.container {
    position: absolute;
    width: 260px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    width: 240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-header {
    background-color: grey;
}

.card-body {
    height: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    margin:auto;
    padding-top: 5px;
    letter-spacing: 10px;
}

.btn-warning {
    display: flex;
    font-style: italic;
    font-size: medium;
    width: 145px;
    height: 30px;
    margin-top: 5px;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.btn-light {
    display: flex;
    font-style: italic;
    font-size: medium;
    margin-top: 5px;
    float: right;
    justify-content: center;
    align-items: center;
}

p {
    font-size: small;
    color:red;
    margin-left: 15px;
    text-decoration: underline;
}

input {
    width: 30px;
    margin-top: 5px;
    float:right;
    margin-right: 50px;
    border: 3px solid blue;
    display:none;
    text-transform: lowercase;
}